<div class="container">
  <form (submit)="onSubmit()">
    <div class="form-group">
      <label>Name</label>
      <input type="text" name="name" [(ngModel)]="user.name" class="form-control" required=""/>
    </div>
    <div class="form-group">
      <label>Telephone number</label>
      <input type="tel" name="tel" [(ngModel)]="user.tel" class="form-control" required=""/>
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="email" name="email" [(ngModel)]="user.email" class="form-control" required=""/>
    </div>
    <input type="submit" class="btn btn-primary" value="Submit">
  </form>
</div>

<hr>

<table class="table table-striped table-bordered">
  <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Telephone number</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.name}}</td>
      <td>{{user.tel}}</td>
      <td>{{user.email}}</td>
    </tr>
  </tbody>
</table>